body {
	font-family: 'Miso Regular', Arial, sans-serif;
	font-weight: 200;
	font-size: 20px; }

.parallax-background {
	background-image: url(../img/header_back.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
    border-top: 8px solid #012233;
	height: 620px;
	position: fixed;
	width: 100%; }

.intro-text {
	font-size: 50px;
	color: #fff;
	text-align: center;
	margin-top: 15%;
}
.intro-text h1 {
	font-size: 72px;
	color: #FFF;
	text-align: center;
}
.parallax-content {
	max-width: 100%;
	position: relative;
	top: 620px;
	padding: 3.125em 10em;
	font-size: 20px;
	background-color: #fff;
}


/* 

Edits to Devsignercon.com

*/
/* 
COLORS

primary-color or navy: rgba(1, 34, 51);
secondary-color or green: rgba(138, 181, 19);
tertiary-color or pink: rgba(181,19,138); 
neutral-color blue: rgba(181,19,138);

*/
@font-face{ font-family: 'Miso Regular'; src: url('../fonts/miso-regular-webfont.eot'); src: url('../fonts/miso-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/miso-regular-webfont.woff') format('woff'), url('../fonts/miso-regular-webfont.ttf') format('truetype'), url('../fonts/miso-regular-webfont.svg#webfont') format('svg'); }

/* Header: z-header ; zone; */
.top-bar {
	background-color: transparent;
	padding-top: 1rem; }

.top-bar-section ul li {
	background: none repeat scroll 0 0 transparent;	}
	.top-bar-section li:not(.has-form) a:not(.button) {
	    background: none repeat scroll 0 0 transparent;
	    border-bottom: none;
	    line-height: 45px;
	    padding: 0 15px; }
		.top-bar-section ul li > a {
		    color: white;
		    display: block;
			font-family: 'Miso Regular', Arial, sans-serif;
		    font-size: 14px;
		    font-weight: normal;
		    padding: 12px 0 12px 15px;
		    text-transform: uppercase;
		    width: 100%; }
		.top-bar-section .dropdown li label {
		    background: none repeat scroll 0 0 transparent;
		    white-space: nowrap; }
	    .top-bar-section li:not(.has-form) a:hover:not(.button),
	    .top-bar-section li:not(.has-form) a:active:not(.button) {
		    background: none repeat scroll 0 0 transparent;
		    border-bottom: 3px solid #8ab513;
		    line-height: 45px;
		    padding: 0 15px; }

.z-header {
  background-color: #012233;
}

.z-header .w-header { 
  padding: 0 0 27px 0;
}

.site-name a:link,
.site-name a:visited {
    color: #FFF;
}

.z-header .w-navigation { 
  border-bottom: 4px solid #929292;
  border-top: none ;
  margin: 0;
}
/* END HEADER */

/* Content: z-content; icon buttons typography; sponsors; user-profiles */

/* z-content */
.z-content {
	border-bottom-color: 4px solid #929292;
}
/* end z-content; */

/* icon buttons */

.hex {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-bottom: none;
	display: inline-block;
	float: left;
	height: 50px;
	margin: 0.5em 1em 1em 0;
	opacity: 0.8;
	text-indent: -9999px;
	width: 50px;
}
.hex:hover {
	border-bottom: none;
	opacity: 1.0;
}

.hex:last-child {
	margin-right: 0;
}

/* end icon buttons */

/* typography; */
.green {
	color: #8AB513 !important;
}


.center {
	text-align: center;
}
.parallax-content h1 {
	margin-bottom: 0; }
	.parallax-content h1 a {
		border-bottom: none;
		color: #012233; }	
	.parallax-content p {
		font-size: 20px;
		font-size: 1.25em; }
	.parallax-content p.small {
		font-size: 0.8125em;
		text-align: left; }


.volunteer {
	background-color: #8ab513; }
	.volunteer p {
		border-bottom: none;
		color: #FFF; }		

h4.green {
	margin: 0;
}
/* end typography; */

/* sponsors; */
/*.sponsors {
	background-color: #012233;
	color: white;
	padding: 3em 2em;
	max-width: 1900px;
	width: 100%;
	overflow-x: scroll;
}

.sponsors .row {
	float: left;
	display: inline-block;
}

.sponsors h2.first {
	color: white;
	margin-top: 10px;	
}

.sponsors h1 {
	text-align: right;
}

.sponsors h1,
.sponsors__platinum h2,
.sponsors h3,
.sponsors p,
.sponsors ol,
.sponsors ul {
	color: #FFF;
	margin-left: 0; 	
}

.sponsors .l-summary {
	color: #FFF;
	width: 20%; 
}

.sponsors .l-content {
	border-bottom: none;
    clear: right;
    float: left;
    margin-left: 20%;
    margin-right: -100%;
    padding-left: 5%;
    width: 75%;
}

.sponsors .l-content ul li ul {
	margin: 6px 0 12px 0;
}

.sponsors__platinum .l-content {
	border-left-color: #8AB513; 
	border-left-width: 8px; 
	border-left-style: solid;
}

.sponsors__gold .l-content {
	border-left-color: rgba(19, 138, 181, 1); 
	border-left-width: 8px; 
	border-left-style: solid;
}

.sponsors__bronze .l-content {
	border-left-color: rgba(19, 138, 181, 0.7); 
	border-left-width: 8px; 
	border-left-style: solid;
}

.sponsors__community .l-content {
	border-left-color: rgba(19, 138, 181, 0.4); 
	border-left-width: 8px; 
	border-left-style: solid;
}*/
/* end typography; */


/* user-profiles */
.user-profile {
	float: left;
    margin-right: 1%;
    width: 30%;
}

.wrapper--user-picture {
	float: left;
	margin-right: 3%;
	max-width: 150px;
}
.user-picture {
    border-radius: 500px;
    border: 8px solid #E2E2E2;
    display: inline-block;
    overflow: hidden;
}
.field--name-field-profile-first { text-align: center; }
.user-picture a { border-bottom: none; }

.wrapper--user-bio { display: inline-block; }
.wrapper--user-bio h2 { margin-bottom: 0.5em; }
.field--name-field-profile-social-media .field__item { display: inline-block;  border: none; }


/* end user-profiles */
/* END CONTENT */

/* FOOTER: z-footer ; zone; */
.last {
	background-color: #012233;
    border-top: 8px solid #8ab513;
    color: #FFFFFF;
    padding: 1.5em; }

/* END FOOTER */

/* Imported from Rockhammer */
/* 

Built on Rock Hammer by Stuff and Nonsense
URL: http://stuffandnonsense.co.uk/projects/rock-hammer/ 

*/
/* 

Built on Rock Hammer by Stuff and Nonsense
URL: http://stuffandnonsense.co.uk/projects/rock-hammer/ 

*/
@font-face{ font-family: 'Miso Regular'; src: url('../fonts/miso-regular-webfont.eot'); src: url('../fonts/miso-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/miso-regular-webfont.woff') format('woff'), url('../fonts/miso-regular-webfont.ttf') format('truetype'), url('../fonts/miso-regular-webfont.svg#webfont') format('svg'); }

html, body, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

html {
  background: white;
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #E2E2E2;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  font-family: 'Miso Regular', Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em;
  color: #929292; }

body:after {
  content: '320';
  display: none; }
  @media (min-width: 30em) {
    body:after {
      content: 'bp2'; } }
  @media (min-width: 37.5em) {
    body:after {
      content: 'bp3'; } }
  @media (min-width: 48em) {
    body:after {
      content: 'bp4'; } }
  @media (min-width: 62em) {
    body:after {
      content: 'bp5'; } }
  @media (min-width: 86.375em) {
    body:after {
      content: 'bp6'; } }

.m-hide {
  display: none !important;
  visibility: hidden; }

[role="contentinfo"] {
  padding: 1.5em 12px;
  text-align: center; }

[role="banner"] {
  *zoom: 1; }
  [role="banner"]:before, [role="banner"]:after {
    content: " ";
    display: table; }
  [role="banner"]:after {
    clear: both; }

hr {
  clear: both;
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #E2E2E2; }

img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

.img-rounded {
  border-radius: 4px; }

.img-polaroid {
  padding: 8px;
  background-color: white;
  border: 1px solid #E2E2E2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

.img-circle {
  border-radius: 500px;
  border: 8px solid #e2e2e2; }

figure {
  margin-bottom: 1.5em; }
  figure img {
    margin-bottom: 0.375em; }
  figure figcaption {
    display: block;
    font-weight: normal;
    font-size: 14px;
    font-size: 1.4rem;
    font-style: italic;
    color: #030303; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: inherit;
  font-weight: normal;
  color: #2a282b;
  letter-spacing: -1px;
  text-rendering: optimizelegibility; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    line-height: 1;
    color: #012233; }


h1,
.h1 {
  font-size: 72px;
  line-height: 1.5;
  margin-bottom: 0.75em; }

.top-bar .name h1 a {
	border-bottom: none;
}
.top-bar .name h1 {
	font-size: 4.5rem; }

h2,
.h2 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 0.75em; }

h3,
.h3 {
  font-size: 20.8px;
  font-size: 2.08rem;
  line-height: 1.3;
  margin-bottom: 1em; }

h4,
.h4 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.25;
  margin-bottom: 1.5em; }

h5,
.h5 {
  font-size: 18.4px;
  font-size: 1.84rem;
  margin-bottom: 1.5em; }

h6,
.h6 {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 1.5em;
  font-weight: normal;
  letter-spacing: -1px;
  text-transform: uppercase; }

p,
ol,
ul,
dl,
address {
  margin-bottom: 1.5em;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em; }

small {
  font-size: 12.8px;
  font-size: 1.28rem; }

ul,
ol {
  margin: 0 0 1.5em -24px;
  padding: 0 0 0 1em;
}
  ul ol, ul ul, ol ul , ol ol {
  padding: 0 0 0 0.5em; }

li ul,
li ol {
  list-style-type: none;
  margin: 1.5em 0;
  font-size: 16px;
  font-size: 1.6rem; }

ul.inline,
ol.inline {
  list-style-type: none;
  margin-left: 0; }
  ul.inline > li,
  ol.inline > li {
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px; }

blockquote {
  margin: 0 0 1.5em 0;
  padding: 12px;
  background-color: #EfEfEf;
  font-style: normal; }
  blockquote small:before {
    content: '\00A0 \2014';
    color: #8ab513;  }
  blockquote small:after {
    content: ''; }
  blockquote.pull-right {
    float: right;
    background-color: transparent; }
    blockquote.pull-right p, blockquote.pull-right small {
      text-align: right; }
    blockquote.pull-right small:before {
      content: ''; }
    blockquote.pull-right small:after {
      content: '\00A0 \2014';
      color: #8ab513;  }
  blockquote cite {
    font-style: normal;
    color: #8ab513; }

q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

dl,
dd {
  margin-bottom: 1.5em; }

dt {
  font-weight: bold;
  color: #2a282b; }

.dl-horizontal {
  *zoom: 1; }
  .dl-horizontal:before, .dl-horizontal:after {
    content: " ";
    display: table; }
  .dl-horizontal:after {
    clear: both; }
  .dl-horizontal dt {
    float: left;
    clear: left;
    width: 30.38869258%; }
  .dl-horizontal dd {
    margin-left: 32.99289258%; }

abbr[title] {
  border-bottom: 1px dotted #E2E2E2;
  cursor: help; }

b, strong {
  font-weight: bold;
  color: #2a282b; }

dfn {
  font-style: italic; }

ins {
  background-color: #E2E2E2;
  color: #929292;
  text-decoration: none; }

mark {
  background-color: #E2E2E2;
  color: #929292;
  font-style: italic;
  font-weight: bold; }

pre,
code,
kbd,
samp {
  font-family: Monaco, Courier New, monospace;
  font-size: 12.8px;
  font-size: 1.28rem;
  line-height: 1.5em;
  color: #484040; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

sub,
sup {
  position: relative;
  font-size: 12.8px;
  font-size: 1.28rem;
  line-height: 0;
  vertical-align: baselineheight; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

.lead {
  font-size: 18.4px;
  font-size: 1.84rem; }

.secondary {
  font-size: 13.91304px;
  font-size: 1.3913rem; }

.tertiary {
  font-size: 12.8px;
  font-size: 1.28rem; }

.amp {
  font-family: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua"); }

.footnotes li {
  margin-bottom: 0.75em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12.30769px;
  font-size: 1.23077rem;
  line-height: 1.4; }

/*footnotes*/
.spaced {
  letter-spacing: 1px; }



a {
  border-bottom: 1px dotted #E2E2E2;
  text-decoration: none;
  color: #8ab513;
  display: inline-block; }
  a:visited {
    color: #8ab513; }
  a:hover {
    text-decoration: none;
    border-bottom: 1px dotted #929292;
    color: #929292; }
  a:focus {
    outline: thin dotted;
    color: #010100; }
  a:hover, a:active {
    outline: 0; }

/*::-moz-selection {
  background-color: #8ab513;
  color: #012233;
  text-shadow: none; }
*/
::selection {
  background-color: #feffe6;
  color: #012233;
  text-shadow: none; }

.swatch {
  margin: 0 0 1.5em 0;
  padding: 0; }

.swatch-row {
  display: block;
  margin: 0;
  padding: 0;
  width: 200px;
  *zoom: 1; }
  .swatch-row:before, .swatch-row:after {
    content: " ";
    display: table; }
  .swatch-row:after {
    clear: both; }

.swatch-row-one {
  background-color: black; }

.swatch-row-two {
  background-color: white; }

.swatch-row span {
  display: block;
  float: left;
  width: 50px;
  height: 50px; }

.swatch-base span:nth-child(1) {
  background-color: rgba(1, 34, 51, 0.9); }

.swatch-base span:nth-child(2) {
  background-color: rgba(1, 34, 51, 0.8); }

.swatch-base span:nth-child(3) {
  background-color: rgba(1, 34, 51, 0.7); }

.swatch-base span:nth-child(4) {
  background-color: rgba(1, 34, 51, 0.6); }

.swatch-secondary span:nth-child(1) {
  background-color: rgba(138, 181, 19, 0.9); }

.swatch-secondary span:nth-child(2) {
  background-color: rgba(138, 181, 19, 0.8); }

.swatch-secondary span:nth-child(3) {
  background-color: rgba(138, 181, 19, 0.7); }

.swatch-secondary span:nth-child(4) {
  background-color: rgba(138, 181, 19, 0.6); }

.swatch-tertiary span:nth-child(1) {
  background-color: rgba(181, 19, 138, 0.9); }

.swatch-tertiary span:nth-child(2) {
  background-color: rgba(181, 19, 138, 0.8); }

.swatch-tertiary span:nth-child(3) {
  background-color: rgba(181, 19, 138, 0.7); }

.swatch-tertiary span:nth-child(4) {
  background-color: rgba(181, 19, 138, 0.6); }

.swatch-neutral span:nth-child(1) {
  background-color: rgba(19, 138, 181, 0.9); }

.swatch-neutral span:nth-child(2) {
  background-color: rgba(19, 138, 181, 0.8); }

.swatch-neutral span:nth-child(3) {
  background-color: rgba(19, 138, 181, 0.7); }

.swatch-neutral span:nth-child(4) {
  background-color: rgba(19, 138, 181, 0.6); }

.swatch-error span:nth-child(1) {
  background-color: rgba(176, 20, 0, 0.9); }

.swatch-error span:nth-child(2) {
  background-color: rgba(176, 20, 0, 0.8); }

.swatch-error span:nth-child(3) {
  background-color: rgba(176, 20, 0, 0.7); }

.swatch-error span:nth-child(4) {
  background-color: rgba(176, 20, 0, 0.6); }

.swatch-info span:nth-child(1) {
  background-color: rgba(173, 214, 242, 0.9); }

.swatch-info span:nth-child(2) {
  background-color: rgba(173, 214, 242, 0.8); }

.swatch-info span:nth-child(3) {
  background-color: rgba(173, 214, 242, 0.7); }

.swatch-info span:nth-child(4) {
  background-color: rgba(173, 214, 242, 0.6); }

.swatch-success span:nth-child(1) {
  background-color: rgba(188, 212, 222, 0.9); }

.swatch-success span:nth-child(2) {
  background-color: rgba(188, 212, 222, 0.8); }

.swatch-success span:nth-child(3) {
  background-color: rgba(188, 212, 222, 0.7); }

.swatch-success span:nth-child(4) {
  background-color: rgba(188, 212, 222, 0.6); }

.accordion {
  margin-bottom: 1.5em; }

.accordion__heading {
  border-bottom-width: 0; }
  .accordion__heading .accordion__toggle {
    display: block;
    padding: 12px 0;
    cursor: pointer; }

/*accordion-heading*/
.accordion__inner {
  padding: 12px 0 0 0;
  border-top: 1px solid #E2E2E2; }

.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.25s ease-in;
  -moz-transition: height 0.25s ease-in;
  -ms-transition: height 0.25s ease-in;
  -o-transition: height 0.25s ease-in;
  transition: height 0.25s ease-in;
  opacity: 0; }

.collapse.in {
  height: auto;
  opacity: 1;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -ms-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear; }

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 1.5em;
  background-color: #da4f49;
  border: 2px solid #9d2520;
  border-radius: 4px;
  font-size: 16px;
  font-size: 1.6rem;
  color: black; }
  .alert > h4 {
    margin: 0;
    color: black; }

/*alert*/
.alert--success {
  background-color: #bcd4de;
  border-color: #9abecd;
  color: #335868; }
  .alert--success > h4 {
    color: #335868; }

/*alert--success*/
.alert--danger,
.alert--error {
  background-color: #b5138a;
  border-color: #7d0e00;
  color: #ffe6e3; }
  .alert--danger > h4,
  .alert--error > h4 {
    color: #ffe6e3; }

/*alert--error*/
.alert--info {
  background-color: #d8dca2;
  border-color: #c8ce7d;
  color: #585c23; }
  .alert--info > h4 {
    color: #585c23; }

/*alert--info*/
.alert--block {
  padding-top: 14px;
  padding-bottom: 14px; }
  .alert--block > p,
  .alert--block > ul {
    margin-bottom: 0; }
  .alert--block > p + p {
    margin-top: 5px; }

/*alert--block*/
.breadcrumb {
  list-style-type: none;
  margin: 0 0 1.5em;
  padding: 0.75em 12px;
  background-color: white;
  border: 1px solid #f3f1f1;
  border-radius: 4px;
  font-size: 16px;
  font-size: 1.6rem;
  color: #9f9393;
  /*li*/ }
  .breadcrumb > li {
    display: inline-block;
    *display: inline;
    *zoom: 1; }
    .breadcrumb > li a {
      color: #012233; }
    .breadcrumb > li > .divider {
      color: #030303; }
  .breadcrumb > .active {
    color: #929292; }

/*breadcrumb*/
.carousel {
  position: relative;
  margin-bottom: 1.5em;
  line-height: 1; }

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%; }
  .carousel-inner > .item {
    display: none;
    position: relative;
    -webkit-transition: left 0.25s ease;
    -moz-transition: left 0.25s ease;
    -ms-transition: left 0.25s ease;
    -o-transition: left 0.25s ease;
    transition: left 0.25s ease; }
  .carousel-inner > .item > img {
    display: block;
    line-height: 1; }
  .carousel-inner > .active,
  .carousel-inner > .next,
  .carousel-inner > .prev {
    display: block; }
  .carousel-inner > .active {
    left: 0; }
  .carousel-inner > .next,
  .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%; }
  .carousel-inner > .next {
    left: 100%; }
  .carousel-inner > .prev {
    left: -100%; }
  .carousel-inner > .next.left,
  .carousel-inner > .prev.right {
    left: 0; }
  .carousel-inner > .active.left {
    left: -100%; }
  .carousel-inner > .active.right {
    left: 100%; }

/*carousel-inner*/
.carousel-control {
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -22px;
  width: 44px;
  height: 44px;
  line-height: 40px;
  color: white;
  text-align: center;
  background-color: #012233;
  border-radius: 23px;
  border-width: 0px;
  -webkit-transition: background-color 0.25s ease;
  -moz-transition: background-color 0.25s ease;
  -ms-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease; }
  .carousel-control font {
    size: 60px;
    weight: 100; }
  .carousel-control.right {
    left: auto;
    right: -24px; }
  .carousel-control:hover {
    background-color: #7a8100;
    color: white;
    text-decoration: none; }

/*carousel-control*/
.carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  background-color: #012233;
  background-color: rgba(1, 34, 51, 0.75); }

.carousel-caption h4,
.carousel-caption p {
  color: white;
  line-height: 1.5em; }

.carousel-caption h4 {
  margin: 0 0 5px; }

.carousel-caption p {
  margin-bottom: 0; }

.hero-unit {
  margin-bottom: 0.75em;
  padding: 24px;
  background-color: rgba(1, 34, 51, 0.1);
  border: 1px solid rgba(49, 52, 0, 0.1);
  border-radius: 4px;
  color: #929292;
  /*p*/ }
  @media (min-width: 48em) {
    .hero-unit {
      padding: 48px; }
      .hero-unit h1 {
        margin-bottom: 0.375em;
        font-size: 48px;
        font-size: 4.8rem;
        line-height: 1;
        letter-spacing: -1px; } }
  .hero-unit p {
    font-size: 20px;
    font-size: 2rem; }
    .hero-unit p:last-child {
      margin-bottom: 0; }

/*hero-unit*/
.media,
.media-body {
  overflow: hidden;
  *overflow: visible;
  zoom: 1; }

.media,
.media .media {
  margin-top: 15px; }

.media:first-child {
  margin-top: 0; }

.media-object {
  display: block; }

.media-heading {
  margin: 0 0 5px; }

.media .pull-left {
  float: left;
  margin-right: 12px; }

.media .pull-right {
  float: right;
  margin-left: 12px; }

.media-list {
  margin-left: 0;
  list-style-type: none; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: black; }

.modal-backdrop.fade {
  opacity: 0; }

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: .8; }

.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: white;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  outline: none;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.25s linear, top 0.25s ease-out;
  -moz-transition: opacity 0.25s linear, top 0.25s ease-out;
  -o-transition: opacity 0.25s linear, top 0.25s ease-out;
  transition: opacity 0.25s linear, top 0.25s ease-out; }

.modal.fade.in {
  top: 10%; }

.modal-header {
  padding: 0.75em 24px;
  border-bottom: 1px solid #E2E2E2; }

.modal-header .close {
  float: right;
  margin-top: 2px;
  background-color: #E2E2E2;
  border: 1px solid #dedada;
  border-bottom-color: #d2cccc;
  border-radius: 4px;
  cursor: pointer;
  color: #929292; }

.modal-header h3 {
  margin: 0;
  line-height: 30px; }

.modal-body {
  position: relative;
  max-height: 400px;
  padding: 1.5em 24px;
  overflow-y: auto; }

.modal-form {
  margin-bottom: 0; }

.modal-footer {
  padding: 0.75em 24px;
  margin-bottom: 0;
  text-align: right;
  border-top: 1px solid #E2E2E2;
  border-radius: 0 0 inherit inherit;
  *zoom: 1; }

.modal-footer:before,
.modal-footer:after {
  display: table;
  line-height: 0;
  content: ""; }

.modal-footer:after {
  clear: both; }

.modal-footer .button + .button {
  margin-bottom: 0;
  margin-left: 5px; }

.modal-footer .btn-group .button + .button {
  margin-left: -1px; }

.modal-footer .btn-block + .btn-block {
  margin-left: 0; }

.modal.hide {
  display: none; }

.nav {
  list-style-type: none;
  margin: 0 0 1.5em 0;
  padding: 0; }

.nav > li > a {
  display: block;
  margin: 0;
  padding: 0; }

.nav > li > a:hover {
  text-decoration: none;
  background-color: #EfEfEf; }

.nav > li > a > img {
  max-width: none; }

.nav > .pull-right {
  float: right; }

.nav-header {
  display: block;
  padding: 3px 12px;
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.5em;
  color: #929292;
  text-transform: uppercase; }

.nav li + .nav-header {
  margin-top: 9px; }

.nav-list {
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 0; }

.nav-list > li > a,
.nav-list .nav-header {
  margin-left: -12px;
  margin-right: -12px; }

.nav-list > li > a {
  padding: 3px 15px;
  color: #012233; }

.nav-list > .active > a,
.nav-list > .active > a:hover {
  color: white;
  background-color: #012233; }

.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
  margin-right: 2px; }

.nav-tabs,
.nav-pills {
  *zoom: 1; }
  .nav-tabs:before, .nav-tabs:after,
  .nav-pills:before,
  .nav-pills:after {
    content: " ";
    display: table; }
  .nav-tabs:after,
  .nav-pills:after {
    clear: both; }

.nav-tabs > li,
.nav-pills > li {
  float: left; }

.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 11px;
  padding-left: 11px;
  margin-right: 2px;
  line-height: 14px;
  border: none; }

.nav-tabs {
  padding-left: 12px;
  border-bottom: 1px solid #E2E2E2; }

.nav-tabs > li {
  margin-bottom: -1px; }

.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 1.5em;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0; }
  .nav-tabs > li > a:hover {
    border-color: #E2E2E2 #E2E2E2 #E2E2E2;
    border-bottom-color: transparent; }

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #012233;
  background-color: white;
  border: 1px solid #E2E2E2;
  border-bottom-color: transparent;
  cursor: default; }

.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 16px;
  color: #012233; }

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: white;
  background-color: #012233; }

.nav-stacked > li {
  float: none; }

.nav-stacked > li > a {
  margin-right: 0; }

.nav-tabs.nav-stacked {
  border-bottom: 0; }

.nav-tabs.nav-stacked > li > a {
  border: 1px solid #E2E2E2;
  border-radius: 0; }

.nav-tabs.nav-stacked > li:first-child > a {
  border-top-radius: 4px; }

.nav-tabs.nav-stacked > li:last-child > a {
  border-bottom-radius: 4px; }

.nav-tabs.nav-stacked > li > a:hover {
  border-color: #E2E2E2;
  z-index: 2; }

.nav-pills.nav-stacked > li > a {
  margin-bottom: 3px; }

.nav-pills.nav-stacked > li:last-child > a {
  margin-bottom: 1px; }

.tabbable {
  padding: 0;
  *zoom: 1; }
  .tabbable:before, .tabbable:after {
    content: " ";
    display: table; }
  .tabbable:after {
    clear: both; }

.tab-content {
  overflow: auto; }

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0; }

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none; }

.tab-content > .active,
.pill-content > .active {
  display: block; }

.tabs-below > .nav-tabs {
  border-top: 1px solid #E2E2E2; }

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0; }

.tabs-below > .nav-tabs > li > a {
  border-radius: 0 0 4px 4px; }

.tabs-below > .nav-tabs > li > a:hover {
  border-bottom-color: #E2E2E2;
  border-top-color: transparent; }

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover {
  border-color: transparent #E2E2E2 #E2E2E2 #E2E2E2; }

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none; }

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px; }

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #E2E2E2; }

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  border-radius: 4px 0 0 4px; }

.tabs-left > .nav-tabs > li > a:hover {
  border-color: #E2E2E2 #E2E2E2 #E2E2E2 #E2E2E2;
  border-right-color: transparent; }

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover {
  border-color: #E2E2E2 transparent #E2E2E2 #E2E2E2;
  *border-right-color: white; }

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  padding: 0;
  border-left: 1px solid #E2E2E2; }

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  border-radius: 0 4px 4px 0; }

.tabs-right > .nav-tabs > li > a:hover {
  border-color: #E2E2E2 #E2E2E2 #E2E2E2 #E2E2E2;
  border-left-color: transparent; }

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover {
  border-color: #E2E2E2 #E2E2E2 #E2E2E2 transparent;
  *border-left-color: white; }

.nav > .disabled > a {
  color: #929292; }

.nav > .disabled > a:hover {
  text-decoration: none;
  background-color: transparent;
  cursor: default; }

.navbar {
  *position: relative;
  *z-index: 2;
  overflow: visible;
  margin: 0 0 1.5em 0; }

.navbar__inner {
  min-height: 44px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: white;
  border: 2px solid #e7e4e4;
  border-radius: 4px;
  *zoom: 1; }
  .navbar__inner:before, .navbar__inner:after {
    content: " ";
    display: table; }
  .navbar__inner:after {
    clear: both; }

.navbar .container {
  width: auto; }

.nav-collapse.collapse {
  overflow: visible;
  height: auto; }

.navbar__brand {
  float: left;
  display: block;
  padding: 0.75em 24px;
  font-size: 12.8px;
  font-size: 1.28rem;
  color: #012233;
  border: none; }
  .navbar__brand:hover {
    border: none; 
    text-decoration: none; }

/*navbar__brand*/
.navbar-text {
  margin-bottom: 0;
  line-height: 44px;
  color: #929292; }

.navbar-link {
  border: none; 
  color: #012233; }
  .navbar-link:hover {
    border: none; 
    color: #929292; }

/*navbar-text*/
.navbar .divider-vertical {
  height: 44px;
  margin: 0;
  border-left: 1px solid #e7e4e4;
  border-right: 1px solid white; }

.navbar .nav {
  display: block;
  position: relative;
  left: 0;
  float: left;
  margin: 0 12px 0 0; }

.navbar .nav.pull-right {
  float: right;
  margin-right: 0; }

.navbar .nav > li {
  float: left; }

.navbar .nav > li > a {
  float: none;
  padding: 0.75em 24px;
  color: #012233;
  border: none;
  font-size: 12.8px;
  font-size: 1.28rem;
  text-decoration: none; }

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: #efefef;
  border: none;
  color: #012233;
  text-decoration: none; }

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  background-color: #012233;
  border: none;
  color: white;
  text-decoration: none;  }

.pager {
  list-style-type: none;
  margin: 1.5em 0;
  padding: 0;
  text-align: center;
  *zoom: 1; }
  .pager:before, .pager:after {
    content: " ";
    display: table; }
  .pager:after {
    clear: both; }

.pager li {
  display: inline; }

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 4px 11px;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12.8px;
  font-size: 1.28rem;
  color: #012233; }

.pager li > a:hover {
  text-decoration: none;
  background-color: #e6e6e6; }

.pager .next > a,
.pager .next > span {
  float: right; }

.pager .previous > a,
.pager .previous > span {
  float: left; }

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > span {
  color: #929292;
  background-color: transparent;
  cursor: default; }

.pagination {
  margin: 0 0 1.5em 0; }

.pagination ul {
  display: inline-block;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0; }

.pagination ul > li {
  display: inline; }

.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 11px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12.8px;
  font-size: 1.28rem;
  line-height: 1.5em;
  text-decoration: none;
  background-color: white;
  border: 1px solid #cccccc;
  border-left-width: 0;
  color: #012233; }

.pagination ul > li > a:hover {
  background-color: #E2E2E2;
  color: #929292; }

.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #012233;
  color: white;
  text-decoration: none;
  cursor: default; }

.pagination ul > .active > a:hover {
  background-color: #012233; }

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover {
  background-color: transparent;
  color: #929292;
  cursor: default; }

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  background-color: #E2E2E2;
  border-left-width: 1px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #929292; }

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  background-color: #E2E2E2;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #929292; }

.pagination-centered {
  text-align: center; }

.pagination-right {
  text-align: right; }

.pagination-large ul > li > a,
.pagination-large ul > li > span {
  padding: 8px 22px;
  font-size: 16px;
  font-size: 1.6rem; }

.pagination-small ul > li > a,
.pagination-small ul > li > span {
  padding: 4px 11px;
  font-size: 14px;
  font-size: 1.4rem; }

.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
  padding: 2px 5px;
  font-size: 12px;
  font-size: 1.2rem; }

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  max-width: 276px;
  text-align: left;
  background-color: #012233;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  border: 2px solid #012233;
  border-radius: 4px;
  white-space: normal; }
  .popover.top {
    margin-top: -10px; }
  .popover.right {
    margin-left: 10px; }
  .popover.bottom {
    margin-top: 10px; }
  .popover.left {
    margin-left: -10px; }

/*popover*/
.popover-title {
  margin: 0;
  padding: 0.75em 12px;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: normal;
  background-color: #012233;
  border-bottom: 2px solid #7a8100;
  border-radius: inherit inherit 0 0;
  font-family: 'Miso Regular', Arial, sans-serif;
  letter-spacing: 0;
  font-size: 16px;
  font-size: 1.6rem;
  color: white; }
  .popover-title:empty {
    display: none; }

/*popover-title*/
.popover-content {
  padding: 0.75em 12px;
  font-family: 'Miso Regular', Arial, sans-serif;
  font-size: 12.8px;
  font-size: 1.28rem;
  line-height: 1.30435em;
  color: white; }

.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.popover .arrow {
  border-width: 12px; }

.popover .arrow:after {
  border-width: 12px;
  content: ""; }

.popover {
  /*top*/
  /*right*/
  /*bottom*/
  /*left*/ }
  .popover.top .arrow {
    left: 50%;
    margin-left: -12px;
    border-bottom-width: 0;
    border-top-color: #7a8100;
    bottom: -12px; }
    .popover.top .arrow:after {
      bottom: 1px;
      margin-left: -12px;
      border-bottom-width: 0;
      border-top-color: #012233; }
  .popover.right .arrow {
    top: 50%;
    left: -12px;
    margin-top: -12px;
    border-left-width: 0;
    border-right-color: #7a8100; }
    .popover.right .arrow:after {
      left: 1px;
      bottom: -12px;
      border-left-width: 0;
      border-right-color: #012233; }
  .popover.bottom .arrow {
    left: 50%;
    margin-left: -12px;
    border-top-width: 0;
    border-bottom-color: #7a8100;
    top: -12px; }
    .popover.bottom .arrow:after {
      top: 1px;
      margin-left: -12px;
      border-top-width: 0;
      border-bottom-color: #012233; }
  .popover.left .arrow {
    top: 50%;
    right: -12px;
    margin-top: -12px;
    border-right-width: 0;
    border-left-color: #7a8100; }
    .popover.left .arrow:after {
      right: 1px;
      border-right-width: 0;
      border-left-color: #012233;
      bottom: -12px; }

/*popover*/
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: 'Miso Regular', Arial, sans-serif;
 }

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5em; }
  .table th,
  .table td {
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #E2E2E2;
    font-size: 12.8px;
    font-size: 1.28rem;
    line-height: 1.5em;
    text-align: left; }
  .table th {
    font-weight: bold; }
  .table thead th {
    vertical-align: bottom;
    color: #2a282b; }
  .table colgroup + thead tr:first-child th,
  .table colgroup + thead tr:first-child td,
  .table thead:first-child tr:first-child th,
  .table thead:first-child tr:first-child td {
    border-top: 0; }
  .table tbody + tbody {
    border-top: 2px solid #E2E2E2; }
  .table tbody tr td,
  .table tbody tr th {
    -webkit-transition: background-color 0.25s 0 ease;
    -moz-transition: background-color 0.25s 0 ease;
    -ms-transition: background-color 0.25s 0 ease;
    -o-transition: background-color 0.25s 0 ease;
    transition: background-color 0.25s 0 ease; }
  .table tbody tr:hover td,
  .table tbody tr:hover th {
    background-color: rgba(138, 181, 19, 0.1); }

.table-condensed th,
.table-condensed td {
  padding: 4px 5px; }

.table-bordered {
  border: 1px solid #E2E2E2;
  border-left: 0;
  border-collapse: separate;
  *border-collapse: collapsed; }
  .table-bordered th,
  .table-bordered td {
    border-left: 1px solid #E2E2E2; }
  .table-bordered caption + thead tr:first-child th,
  .table-bordered caption + tbody tr:first-child th,
  .table-bordered caption + tbody tr:first-child td,
  .table-bordered colgroup + thead tr:first-child th,
  .table-bordered colgroup + tbody tr:first-child th,
  .table-bordered colgroup + tbody tr:first-child td,
  .table-bordered thead:first-child tr:first-child th,
  .table-bordered tbody:first-child tr:first-child th,
  .table-bordered tbody:first-child tr:first-child td {
    border-top: 0; }

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: rgba(19, 138, 181, 0.1); }

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: rgba(19, 138, 181, 0.1); }

.tooltip {
  position: absolute;
  z-index: 1000;
  display: block;
  visibility: visible;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 1.5em;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0; }
  .tooltip.in {
    -webkit-opacity: 80;
    -moz-opacity: 80;
    opacity: 80; }
  .tooltip.top {
    margin-top: -3px;
    padding: 5px 0; }
  .tooltip.right {
    margin-left: 3px;
    padding: 0 5px; }
  .tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0; }
  .tooltip.left {
    margin-left: -3px;
    padding: 0 5px; }

/*tooltip*/
.fade {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -ms-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear; }

.fade.in {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1; }

.tooltip-inner {
  max-width: 200px;
  padding: 0.75em 12px;
  background-color: #012233;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  text-decoration: none; }

/*tooltip-inner */
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #012233; }
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #012233; }
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #012233; }
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #012233; }

/*tooltip*/
.well {
  min-height: 20px;
  padding: 12px;
  margin-bottom: 1.5em;
  background: #ffffff; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UyZTJlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-radial-gradient(center, ellipse cover,  #ffffff 75%, #e2e2e2 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(75%,#ffffff), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 75%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #ffffff 75%,#e2e2e2 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #ffffff 75%,#e2e2e2 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #ffffff 75%,#e2e2e2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
  border: 2px solid #dedada;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 12px #dedada;
  -moz-box-shadow: inset 0 1px 12px #dedada;
  box-shadow: inset 0 1px 12px #dedada;
  color: #929292; }
  .well p:last-child {
    margin-bottom: 0; }

.well--large {
  padding: 24px;
  -webkit-box-shadow: inset 0 1px 24px #dedada;
  -moz-box-shadow: inset 0 1px 24px #dedada;
  box-shadow: inset 0 1px 24px #dedada; }

.well--small {
  padding: 6px;
  -webkit-box-shadow: inset 0 1px 6px #dedada;
  -moz-box-shadow: inset 0 1px 6px #dedada;
  box-shadow: inset 0 1px 6px #dedada; }

form {
  margin: 0 0 1.5em 0;
  font-family: 'Miso Regular', Arial, sans-serif; }
  form p {
    margin-bottom: 0.75em; }
  form ul {
    list-style-type: none;
    margin: 0 0 1.5em 0;
    padding: 0; }
  form br {
    display: none; }

fieldset {
  margin-bottom: 1.5em;
  padding: 0;
  border-width: 0; }
  fieldset:last-of-type {
    margin-bottom: 0; }

legend {
  display: block;
  width: 100%;
  margin-bottom: 3em;
  *margin-left: -7px;
  padding: 0 0 0.75em 0;
  border: 0;
  color: #929292;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.5em;
  white-space: normal; }
  legend small {
    font-size: 1.125em;
    color: #625757; }

label,
input,
button,
select,
textarea {
  font-family: 'Miso Regular', Arial, sans-serif; }

label {
  display: block;
  margin-bottom: 0.375em;
  font-size: 16px;
  font-size: 1.6rem; }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
  display: inline-block;
  margin-bottom: 0.75em;
  padding: 6px 11px;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em;
  color: inherit;
  border-radius: 4px;
  vertical-align: middle; }

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"] {
  display: -webkit-inline-flex; }

input,
textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

textarea {
  height: auto;
  resize-x: none; }

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  background-color: white;
  border: 2px solid #E2E2E2; }
  textarea:hover,
  input[type="text"]:hover,
  input[type="password"]:hover,
  input[type="datetime"]:hover,
  input[type="datetime-local"]:hover,
  input[type="date"]:hover,
  input[type="month"]:hover,
  input[type="time"]:hover,
  input[type="week"]:hover,
  input[type="number"]:hover,
  input[type="email"]:hover,
  input[type="url"]:hover,
  input[type="search"]:hover,
  input[type="tel"]:hover,
  input[type="color"]:hover {
    border-color: #aea4a4; }
  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus {
    border-color: #929292;
    outline: 0;
    outline: thin dotted \ 9; }

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0;
  margin-top: 1px \ 9;
  line-height: normal; }

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto; }

select {
  padding: 0;
  width: 90%; }

select[multiple],
select[size] {
  height: auto; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  font-size: 14px;
  font-size: 1.4rem;
  color: #929292; }
input::-moz-placeholder,
textarea::-moz-placeholder {
  font-size: 14px;
  font-size: 1.4rem;
  color: #929292; }
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: 14px;
  font-size: 1.4rem;
  color: #929292; }
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 14px;
  font-size: 1.4rem;
  color: #929292; }

.radio,
.checkbox {
  min-height: 1.5em;
  font-size: 16px;
  font-size: 1.6rem; }

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-right: 12px; }

.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px; }

.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle; }

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 12px; }

.input-mini {
  width: 60px; }

.input-small {
  width: 90px; }

.input-medium {
  width: 150px; }

.input-large {
  width: 210px; }

.input-xlarge {
  width: 270px; }

.input-xxlarge {
  width: 530px; }

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  opacity: .25; }

.form-actions {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 0.5em 24px 1.5em;
  *zoom: 1; }
  .form-actions:before, .form-actions:after {
    content: " ";
    display: table; }
  .form-actions:after {
    clear: both; }

[placeholder]:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity .5s .5s ease; }

.help-block,
.help-inline {
  color: #625757;
  font-size: 12.8px;
  font-size: 1.28rem;
  line-height: 1.4; }

.help-block {
  display: block;
  margin-bottom: 0.75em; }

.help-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  padding-left: 12px; }

.help-block,
.help-inline {
  color: #625757; }

.help-block {
  display: block;
  margin-bottom: 0.75em; }

.help-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  padding-left: 24px; }

.form-horizontal {
  /*controls*/
  /*input*/ }
  .form-horizontal .control-group {
    margin-bottom: 1.5em;
    *zoom: 1; }
    .form-horizontal .control-group:before, .form-horizontal .control-group:after {
      content: " ";
      display: table; }
    .form-horizontal .control-group:after {
      clear: both; }
  .form-horizontal .control-label {
    float: left;
    width: 49%;
    padding-top: 5px;
    padding-right: 24px;
    text-align: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .form-horizontal .controls {
    *display: inline-block;
    margin-left: 49%;
    *margin-left: 0;
    *padding-left: 24px; }
    .form-horizontal .controls:first-child {
      *padding-left: 24px; }
  .form-horizontal .help-block {
    margin-bottom: 0; }
  .form-horizontal input + .help-block,
  .form-horizontal select + .help-block,
  .form-horizontal textarea + .help-block {
    margin-top: 0.75em; }
  .form-horizontal .form-actions {
    padding-left: 49%; }

.form-horizontal input,
.form-horizontal textarea,
.form-horizontal select {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-bottom: 0;
  vertical-align: middle; }
.form-horizontal .hide {
  display: none; }
.form-horizontal label,
.form-horizontal .btn-group {
  display: inline-block; }
.form-horizontal .control-group {
  margin-bottom: 0.75em; }
.form-horizontal legend + .control-group {
  margin-top: 1.5em;
  -webkit-margin-top-collapse: separate; }

/*form-horizontal*/
input.search-query {
  margin-bottom: 0;
  padding-right: 14px;
  padding-right: 4px \ 9;
  padding-left: 14px;
  padding-left: 4px \9;
  border-radius: 0; }

.form-search .input-append .search-query,
.form-search .input-prepend .search-query {
  border-radius: 0; }

.form-search .input-append .search-query {
  border-radius: 14px, 0, 0, 14px; }

.form-search .input-append .button {
  border-radius: 0, 14px, 14px, 0; }

.form-search .input-prepend .search-query {
  border-radius: 0, 14px, 14px, 0; }

.form-search .input-prepend .button {
  border-radius: 14px, 0, 0, 14px; }

.form-search {
  /*radio*/ }
  .form-search input,
  .form-search textarea,
  .form-search select {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-bottom: 0;
    vertical-align: middle; }
  .form-search .hide {
    display: none; }
  .form-search label,
  .form-search .btn-group {
    display: inline-block; }
  .form-search .radio,
  .form-search .checkbox {
    margin-bottom: 0;
    padding-left: 0;
    vertical-align: middle; }
  .form-search .radio input[type="radio"],
  .form-search .checkbox input[type="checkbox"] {
    float: left; }
    .form-search .radio input[type="radio"] margin,
    .form-search .checkbox input[type="checkbox"] margin {
      right: 3px;
      left: 0; }
  .form-search .control-group {
    margin-bottom: 0.75em; }
  .form-search legend + .control-group {
    margin-top: 1.5em;
    -webkit-margin-top-collapse: separate; }

/*form-search*/
.button {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 6px 11px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-weight: normal;
  font-family: 'Miso Regular', Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em;
  color: #929292;
  text-align: center;
  vertical-align: middle;
  background-color: #E2E2E2;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  cursor: pointer; }
  .btn:visited, .btn:hover, .btn:active {
    color: #2a282b;
    text-decoration: none;
    border: 1px solid #E2E2E2;
 }

/*btn*/
.btn:first-child {
  *margin-left: 0; }

.btn-disabled {
  opacity: .5;
  cursor: default; }

.btn-error {
  background-color: #b5138a;
  color: white; }
  .btn-error:visited, .btn-error:active, .btn-error:hover {
    background-color: #7d0e00;
    color: #f2f2f2; }

/*btn-error*/
.btn-info {
  background-color: #8ab513;
  border-color: #8ab513;
  color: #FFFFFF; }
  .btn-info:hover {
    background-color: #c8ce7d;
    color: #8ab513; }
    .btn-info a {
    	border-bottom: none !important;
    	color: #FFFFFF; }  
/*btn-info*/
.btn-inverse {
  background-color: #2a282b;
  border-color: #2a282b;
  color: white; }
  .btn-inverse a:hover {
    background-color: #343434;
    color: #efefef; }
    .btn-inverse a {
    	border-bottom: none !important; }   

/*btn-inverse*/
.btn-primary {
  background-color: #012233;
  border-color: #012233;
  color: white; }
  .btn-primary:hover {
    background-color: #838b00;
    color: #f2f2f2; }
    .btn-primary a {
    	border-bottom: none !important;
    	color: #FFFFFF; }      

/*btn-primary*/
.btn-success {
  background-color: #bcd4de;
  border-color: #bcd4de;
  color: #335868; }
  .btn-success:hover {
    background-color: #abc9d6;
    border-bottom: none !important;
    color: #2b4a57; }
   .btn-success a {
    	border-bottom: none !important; } 

/*btn-success*/
.btn-warning {
  background-color: #b5138a;
  border-color: #b5138a;
  color: white; }
  .btn-warning:hover {
    background-color: #971100;
    border-bottom: none !important;    
    color: #f2f2f2; }
    .btn-warning a {
    	border-bottom: none !important; }  

/*btn-warning*/
.btn-extlarge {
  padding: 11px 22px;
  font-size: 32px;
  font-size: 3.2rem;
  border-bottom: none !important;
  border-radius: 8px; }

.btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px; }

/*btn.btn-large*/
.btn-large {
  padding: 11px 18px;
  font-size: 20px;
  font-size: 2rem;
  line-height: inherit;
  border-width: 2px;
  border-radius: 8px; }

.btn-small {
  padding: 5px 10px;
  font-size: 10.66667px;
  font-size: 1.06667rem;
  line-height: inherit; }

.btn-mini {
  padding: 3px 5px;
  font-size: 9.14286px;
  font-size: 0.91429rem;
  line-height: inherit; }

.btn-group {
  position: relative;
  *zoom: 1;
  *margin-left: .3em;
  margin-bottom: 1.5em; }
  .btn-group .button {
    position: relative;
    float: left;
    margin-left: -1px;
    border-radius: 0; }
  .btn-group .btn:first-child {
    margin-left: 0;
    border-radius: 2px, 0, 2px, 0; }
  .btn-group .btn:last-child {
    border-radius: 0, 2px, 0, 2px; }
  .btn-group .btn.large:first-child {
    margin-left: 0;
    border-radius: 4px, 0, 4px, 0; }
  .btn-group .btn.large:last-child {
    border-radius: 0, 4px, 0, 4px; }

/*btn.btn-group*/
.btn-toolbar {
  clear: both;
  margin-top: 0.75em;
  margin-bottom: 0.75em; }
  .btn-toolbar .btn-group {
    display: inline-block;
    *display: inline;
    *zoom: 1; }

/*btn.btn-toolbar*/
.table-wrapper {
  position: relative; }

.table-menu-wrapper {
  float: right;
  top: 0;
  right: 0;
  margin-bottom: 6px; }

.table-menu {
  position: absolute;
  background-color: white;
  padding: 6px;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  font-size: 16;
  right: 0;
  left: auto; }
  .table-menu ul {
    margin-bottom: 0; }

.table-menu-hidden {
  left: -999em;
  right: auto; }

.table-menu li {
  padding: 6px;
  list-style-type: none; }
  .table-menu li label {
    display: inline; }

.rwd-table td, .rwd-table th {
  display: none; }
  @media (min-width: 48em) {
    .rwd-table td, .rwd-table th {
      display: table-cell; } }
@media (min-width: 30em) {
  .rwd-table .optional {
    display: table-cell; } }
.rwd-table .essential {
  display: table-cell; }

/*! responsive-nav.js v1.0.14 by @viljamis */
.js nav[role=navigation] {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }
  @media (min-width: 37.5em) {
    .js nav[role=navigation] {
      max-height: none; } }
  .js nav[role=navigation] .opened {
    max-height: 9999px; }

#nav-toggle {
  float: right;
  display: block;
  padding: 0.75em 12px;
  background-color: #292f36;
  color: white;
  border-bottom-left-radius: 8px; }
  @media (min-width: 37.5em) {
    #nav-toggle {
      display: none; } }

.navigation-toggle {
  display: none; }

nav[role=navigation] {
  clear: both;
  background-color: #292f36;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease; }

nav[role=navigation].active {
  max-height: 25em; }

#navigation-toggle {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  @media (min-width: 37.5em) {
    #navigation-toggle {
      margin: 0 0 0 -0.25em;
      border-width: 0; } }
  #navigation-toggle ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    @media (min-width: 37.5em) {
      #navigation-toggle ul {
        margin: 0 auto; } }
  @media (min-width: 37.5em) {
    #navigation-toggle li {
      display: inline-block;
      margin: 0 12px 0 0; } }
  #navigation-toggle a {
    display: block;
    padding: .8em;
    border-bottom: 1px solid #131619;
    color: white;
    text-transform: uppercase; }
    @media (min-width: 37.5em) {
      #navigation-toggle a {
        border-width: 0;
        font-size: 14px;
        font-size: 1.4rem;
        text-transform: none; } }
    #navigation-toggle a:hover {
      color: #e6e6e6;
      text-decoration: none; }

.crumbs-container {
  position: relative;
  overflow: hidden;
  height: 3.2em;
  -webkit-transition: height 0.5s ease-out;
  -moz-transition: height 0.5s ease-out;
  -ms-transition: height 0.5s ease-out;
  -o-transition: height 0.5s ease-out;
  transition: height 0.5s ease-out; }

.crumbs-container.active {
  height: 13.6em; }
  @media (min-width: 37.5em) {
    .crumbs-container.active {
      height: 3.2em; } }

.crumbs {
  width: 100%;
  position: absolute; }

@media (min-width: 37.5em) {
  .crumbs li {
    display: inline-block; } }

@media (min-width: 37.5em) {
  .crumbs li:after {
    content: '→';
    padding: 0 0.25em 0 0.5em;
    color: #999; } }

@media (min-width: 37.5em) {
  .crumbs li.last:before, .crumbs li.last:after {
    content: ''; } }

.crumbs li a {
  display: block;
  padding: 1em;
  border-bottom: 1px solid #E2E2E2; }
  @media (min-width: 37.5em) {
    .crumbs li a {
      display: inline;
      border: 0;
      padding: 0; } }

.crumbs li:last-child a {
  border-bottom: 0; }

#crumbs-trigger {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  font-size: 2em;
  padding: 0 0.5em 0.2em; }
  @media (min-width: 37.5em) {
    #crumbs-trigger {
      display: none; } }

.l-panel {
  border-top: 8px solid #8ab513;
  border-bottom: 4px solid #929292; }
  .l-panel:first-child {
    border-top-width: 0;
    border-bottom-width: 0; }
  .l-panel:nth-child(2) {
    border-top-width: 0; }
  .l-panel:last-of-type {
    margin-bottom: 1.5em;
    border-bottom-width: 0; }

.l-trigger {
  padding: 1.5em 12px;
  background-color: #012233;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(1, 34, 51, 0.6)), to(rgba(1, 34, 51, 0.9)));
  background-image: -webkit-linear-gradient(top, rgba(1, 34, 51, 0.6), rgba(1, 34, 51, 0.9));
  background-image: -moz-linear-gradient(top, rgba(1, 34, 51, 0.6), rgba(1, 34, 51, 0.9));
  background-image: -ms-linear-gradient(top, rgba(1, 34, 51, 0.6), rgba(1, 34, 51, 0.9));
  background-image: -o-linear-gradient(top, rgba(1, 34, 51, 0.6), rgba(1, 34, 51, 0.9));
  background-position: 0 0, 50% 100%;
  background-repeat: repeat-x;
  border-bottom: 4px solid #929292;
  color: white; }
  .l-trigger:first-of-type {
    border-top-width: 0; }
  .l-trigger h1, .l-trigger p {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 0 10px #012233; }
  .l-trigger h1 {
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: normal;
    text-transform: uppercase; }
  .l-trigger p {
    margin-bottom: 0.75em; }
  .l-trigger p:last-child {
    margin-bottom: 0;
    font-size: 14px;
    font-size: 1.4rem;
    text-align: right; }
  .l-trigger a, .l-trigger a:visited {
    color: white; }
    .l-trigger a:hover, .l-trigger a:visited:hover {
      color: rgba(255, 255, 255, 0.9);
      text-decoration: none; }

.l-panel:nth-child(2) .l-trigger {
  background-color: #012233;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(1, 34, 51, 0.6)), to(rgba(1, 34, 51, 0.9)));
  background-image: -webkit-linear-gradient(top, rgba(1, 34, 51, 0.6), rgba(1, 34, 51, 0.9));
  background-image: -moz-linear-gradient(top, rgba(1, 34, 51, 0.6), rgba(1, 34, 51, 0.9));
  background-image: -ms-linear-gradient(top, rgba(1, 34, 51, 0.6), rgba(1, 34, 51, 0.9));
  background-image: -o-linear-gradient(top, rgba(1, 34, 51, 0.6), rgba(1, 34, 51, 0.9));
  background-position: 0 0, 50% 0; }

.l-wrap {
  margin: 0 auto; }

.l-hidden.in {
  margin-bottom: 3em;
  padding: 3em 12px 0.75em 12px; }
.l-hidden .l-wrap {
  margin-bottom: 3em; }
  .l-hidden .l-wrap > h2 {
    text-transform: uppercase;
    font-size: 32px;
    font-size: 3.2rem;
    font-weight: normal;
    color: rgba(19, 138, 181, 0.5); }
.l-hidden .l-content {
  border-bottom: 1px solid #E2E2E2; }
.l-hidden:last-of-type {
  border-bottom-width: 0; }

.l-introduction {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;}
  .l-introduction .hero-unit {
    margin: 0;
    padding: 24px 0.75em 48px;
    background-color: transparent;
    border-width: 0; }
    .l-introduction .hero-unit .secondary {
      font-size: 14px;
      font-size: 1.4rem;
      text-align: center; }

#panel-images-hidden img {
  max-width: 120px;
  margin-right: 12px; }

#panel-typography-hidden:active {
  display: block !important; }

@media (min-width: 48em) {
  .samples .l-introduction {
    padding: 3em 0 6em 0; }
    .samples .l-introduction .hero-unit {
      margin: 0 auto;
      padding: 0;
      width: 90%;
      max-width: 768px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
  .samples nav[role=navigation] {
    width: 100%;
    background-color: #012233;
    color: white; }
    .samples nav[role=navigation] ul {
      margin: 0 auto;
      width: 90%;
      max-width: 768px; }
      .samples nav[role=navigation] ul a, .samples nav[role=navigation] ul a:visited {
        color: white; } }

@media (min-width: 48em) {
  .hidden hr {
    margin: 0 auto;
    width: 90%;
    max-width: 768px; } }

@media (min-width: 48em) {
  .l-wrap {
    *zoom: 1;
    width: 90%;
    max-width: 768px; }
    .l-wrap:before, .l-wrap:after {
      content: " ";
      display: table; }
    .l-wrap:after {
      clear: both; } }

@media (min-width: 48em) {
  .l-summary {
    float: left;
    margin-right: -100%;
    width: 38.4375%;
    padding-right: 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; } }

@media (min-width: 48em) {
  #panel-typography .l-trigger .l-summary,
  #panel-colour .l-trigger .l-summary,
  #panel-images .l-trigger .l-summary,
  #panel-navigation .l-trigger .l-summary,
  #panel-modules .l-trigger .l-summary,
  #panel-forms .l-trigger .l-summary,
  #panel-tables .l-trigger .l-summary,
  #panel-widgets .l-trigger .l-summary {
    min-height: 40px;
    background-image: url(../img/tmp/l-trigger-icons.png);
    background-repeat: no-repeat; } }

@media (min-width: 48em) {
  #panel-typography .l-trigger .l-summary {
    background-position: 95% 0; } }

@media (min-width: 48em) {
  #panel-colour .l-trigger .l-summary {
    background-position: 95% -300px; } }

@media (min-width: 48em) {
  #panel-images .l-trigger .l-summary {
    background-position: 95% -600px; } }

@media (min-width: 48em) {
  #panel-navigation .l-trigger .l-summary {
    background-position: 95% -100px; } }

@media (min-width: 48em) {
  #panel-modules .l-trigger .l-summary {
    background-position: 95% -700px; } }

@media (min-width: 48em) {
  #panel-forms .l-trigger .l-summary {
    background-position: 95% -400px; } }

@media (min-width: 48em) {
  #panel-tables .l-trigger .l-summary {
    background-position: 95% -500px; } }

@media (min-width: 48em) {
  #panel-widgets .l-trigger .l-summary {
    background-position: 95% -800px; } }

@media (min-width: 48em) {
  .l-content {
    clear: right;
    float: left;
    margin-left: 41.0417%;
    margin-right: -100%;
    width: 58.9583%; } }

@media (min-width: 48em) {
  [role="contentinfo"] small {
    display: block; } }

@media (min-width: 48em) {
  .m-hide {
    display: inline-block !important;
    visibility: visible; } }

@media (min-width: 48em) {
  .t-hide {
    display: none !important;
    visibility: hidden; } }

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  @page {
    margin: 0.5cm; }

  h2, h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid; }

  p {
    orphans: 3;
    widows: 3; }

  pre, blockquote {
    border: 1px solid #666;
    page-break-inside: avoid; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  img {
    max-width: 100% !important;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr {
    page-break-inside: avoid; } }


/* */
.logo, .logo:hover {
    border-bottom: none;
    color: #FFF;
    font-size: 1.5em;
    margin-bottom: 1em; }
	.logo img {
		    border-width: 0;
		    vertical-align: middle;
		    width: 100%; }
	.logo:hover img {
	    opacity: 0.8; }
